.toolinit_maindiv {
    width: 90%;
    height: auto;
}

.toolinit_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toolinit_title {
    display: flex;
    margin-right: 40px;
}

.toolinit_titletext {
    color: white;
    font-size: 35px;
}

.toolinit_subtitletext {
    color: white;
    font-size: 20px;
}

.toolinit_instructionswrapper {
    display: flex;
    justify-content: center;
    align-items: top;
    color: #8C8BBF;
    height: auto;
}

.toolinit_instruction {
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
    width: 400px;
}

.toolinit_instructioncount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toolinit_instructioncounttext {
    font-size: 35px;
    margin: 0 0 10px 0;
}

.toolinit_instructionbox {
    border: 2pt solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 25px 0;
}

.toolinit_instructionboxrow {
    display: flex;
    justify-content: center;
}

.toolinit_instructionboxtext {
    font-size: 25px;
}

.toolinit_startbutton {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
}

.toolinit_startbuttontext {
    font-size: 25px;
}