.toolmodify_maindiv {
    width: 90%;
    height: auto;
}

.toolmodify_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toolmodify_title {
    display: flex;
    margin-right: 20px;
}

.toolmodify_titletext {
    color: white;
    font-size: 35px;
}

.toolmodify_filenametext {
    color: #57D6F1;
    font-size: 35px;
}

.toolmodify_modbox {
    width: 100%;
    height: 60%;
    border: 2pt solid #57D6F1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.toolmodify_settingwrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.toolmodify_settingtitle {
    width: 100px;
    margin: 0 20px 0 20px;
}

.toolmodify_settingcomment {
    margin: 0 20px 0 20px;
}

.toolmodify_settingtext {
    font-size: 20px;
}

.toolmodify_checkboxwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 25px;
}

.toolmodify_footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.toolmodify_buttontext {
    font-size: 20px;
}