.toolpage_div {
    position: relative;
    top: 0;
    left:0;
    height: calc(100vh - 7rem - 2px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    background: rgba(0,0,0,0);
    overflow-y: scroll;
}
